<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard - SendIT Company</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="/assets/img/favicon 3.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/assets/styles.css"> -->
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        .dashboard-header {
            background-image: linear-gradient(to right, #000000, #2e2e2e);
            color: #fff;
            padding: 20px 15px;
            border-radius: 0;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .dashboard-header h2 {
            margin: 0;
        }
        .dashboard-banner {
            background: url(/assets/img/LEAD\ BANNER.jpg) no-repeat center center;
            background-size: cover;
            height: 400px;
            color: #fff;
            text-align: center;
            border-radius: 0;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .dashboard-banner h1 {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
        }
        .content-wrapper {
            background-color: #fff;
            padding: 20px;
            border-radius: 0;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: block;
        }
        .des {
            background-image: linear-gradient(to right, #000000, #2e2e2e);
            color: #fff;
            padding: 20px 15px;
            border-radius: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .footer {
            background-color: #2c3e50;
            color: #bdc3c7;
            text-align: left;
            font-size: 14px;
            padding: 20px 0;
        }
        .footer-content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0;
        }
        .footer-section {
            margin-bottom: 20px;
            flex: 1 1 40%;
            max-width: 250px;
        }
        .footer-section h2 {
            color: #ffffff;
            margin-bottom: 10px;
        }
        .footer-section p {
            margin-bottom: 5px;
            cursor: pointer;
            color: #ecf0f1;
        }
        .footer-section p:hover {
            text-decoration: underline;
        }
        .footer-bottom {
            margin-top: 20px;
            border-top: 1px solid #34495e;
            padding-top: 20px;
            text-align: center;
        }
        .footer-bottom .logo {
            font-weight: bold;
            color: #ecf0f1;
        }
        .social i {
            color: #ecf0f1;
            margin-right: 10px;
            cursor: pointer;
        }
        .social i:hover {
            color: #3498db;
        }
        .btn-action {
            padding: 5px 10px;
            color: #fff;
            cursor: pointer;
            margin-right: 5px;
            border-radius: 10px;
        }
        .btn-edit {
            background-color: #ffc107;
        }
        .btn-delete {
            background-color: #dc3545;
        }
        @media (max-width: 768px) {
            .footer-section {
                flex-basis: 100%;
                max-width: 100%;
            }
            .dashboard-banner {
                height: 400px;
            }
            .dashboard-banner h1 {
                font-size: 1.5rem;
            }
            .content-wrapper {
                padding: 0;
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
    <%- include('partials/nav') -%>

                <div class="dashboard-header">
                    <h2><%= user.username %> Welcome Back</h2>
                </div>
                <div class="dashboard-banner">
                    <h1><%= user.username %>, Here Is Your Orders Overview </h1>
                </div>
                <div class="content-wrapper">
                    <h3 style="float: left;">My Orders</h3>
                    <h5 style="float: right;"><a style="background-color: #3498db; color: #fff;padding: 5px;" href="/order/create-order">Create New Order</a></h5>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover order-table">
                            <thead class="thead-light">
                                <tr>
                                    <th>Sender Name</th>
                                    <th>Receiver Name</th>
                                    <th>Destination</th>
                                    <th>Pickup Station</th>
                                    <th>Package Details</th>
                                    <th>Order Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (orders.length > 0) { %>
                                    <% orders.forEach(order => { %>
                                        <tr>
                                            <td><%= order.senderName %></td>
                                            <td><%= order.receiverName %></td>
                                            <td><%= order.destination %></td>
                                            <td><%= order.pickupStation %></td>
                                            <td><%= order.packageDetails %></td>
                                            <td style="color: #dc3545;"><%= order.status %></td>
                                            <td>
                                                <span class="btn-action btn-edit" data-orderid="<%= order._id %>"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                <span class="btn-action btn-delete" data-orderid="<%= order._id %>"><i class="fa fa-trash" aria-hidden="true"></i></span>
                                            </td>
                                        </tr>
                                    <% }); %>
                                <% } else { %>
                                    <tr>
                                        <td colspan="7" class="text-center">No orders to show <a href="/order/create-order">Create Order</a></td>
                                    </tr>
                                <% } %>
                            </tbody>
                    </table>
                </div>
            </div>
            <div class="des">
                <span>have you seen our new update</span>
            </div>
        </div>
    </div>
    <footer>
        <%- include('partials/footer') -%>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>

document.addEventListener('DOMContentLoaded', () => {
    const updateButtons = document.querySelectorAll('.btn-edit');
                updateButtons.forEach(button => {
                    button.addEventListener('click', () => {
                    const orderId = button.getAttribute('data-orderid');
                    window.location.href = `/order/orders/${orderId}`;
                    });
                });


const cancelButtons = document.querySelectorAll('.btn-delete');
    cancelButtons.forEach(button => {
        button.addEventListener('click', async () => {
            const orderId = button.getAttribute('data-orderid');

            // Display a confirmation dialog
            const isConfirmed = window.confirm('Are you sure you want to cancel this order?');

            if (isConfirmed) {
                try {
                    const response = await fetch(`/order/orders/${orderId}`, {
                        method: 'DELETE',
                    });

                    if (response.ok) {
                        // Assuming a successful deletion, update the UI accordingly.
                        // For example, remove the row from the table without reloading the page.
                        button.closest('tr').remove();
                    } else {
                        // Handle errors or show a message to the user
                        console.error('Error deleting order:', response.statusText);
                    }
                } catch (error) {
                    console.error('Error deleting order:', error.message);
                }
            }
        });
    });
});
</script>
</body>
</html>



<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="/asset/styles.css">
    <link rel="icon" href="/assets/img/favicon-3.ico" type="image/x-icon">
    <title>SendIT Company</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        #maincontent1 {
            width: 95%;
            padding: 20px;
            background-image: url(/assets/img/LEAD-BANNER.jpg);
            background-size: cover;
            margin: auto;
            text-align: center;
        }
        h1, p {
            color: #fff; /* Assuming a dark image, for better visibility */
        }
        .content button {
            padding: 8px 15px;
            margin: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .content button:hover {
            background-color: #0056b3;
        }
        .content a {
            color: white;
            text-decoration: none;
        }
        table {
            width: 90%;
            border-collapse: collapse;
            margin: 20px auto;
            background-color: #fff;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
        /* Added CSS for responsive table display */
        @media screen and (max-width: 600px) {
            table, thead, tbody, th, td, tr {
                display: block;
            }
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
            tr { border: 1px solid #ccc; }
            td {
                border: none;
                border-bottom: 1px solid #eee;
                position: relative;
                padding-left: 50%;
            }
            td:before {
                position: absolute;
                top: 6px;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                content: attr(data-label);
                font-weight: bold;
            }
        }
    </style>
</head>
<body>
    <header>
         Ensure the 'partials/nav' include path is correct 
        <%- include('partials/nav') -%>
    </header>
    <div id="maincontent1">
        <div class="content">
            <h1>SendIT Company Is Here</h1>
            <p>If you're looking for the best platform for your package to be shipped to any destination of your choice, we're here to serve the best quality, reliable service you've never experienced before.</p>
            <a href="/order/create-order" class="button">Create Order</a>
            <a href="/order/my-orders" class="button">Manage Orders</a>
        </div>
    </div>
    <section style="background: #e3e3e3; width: 100%; padding: 20px 0;">
        <div class="order" style="width: 90%; margin: auto;">
            <h2>My Orders</h2>
            <% if (orders.length === 0) { %>
                <p>No orders found.</p>
            <% } else { %>
                <table>
                    <thead>
                        <tr>
                            <th>Sender Name</th>
                            <th>Receiver Name</th>
                            <th>Destination</th>
                            <th>Pickup Station</th>
                            <th>Package Details</th>
                            <th>Order Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders.forEach(order => { %>
                            <tr>
                                <td><%= order.senderName %></td>
                                <td><%= order.receiverName %></td>
                                <td><%= order.destination %></td>
                                <td><%= order.pickupStation %></td>
                                <td><%= order.packageDetails %></td>
                                <td><%= order.status %></td>
                                <td class="action-buttons">
                                    <button onclick="updateOrder('<%= order._id %>')">Update</button>
                                    <button onclick="deleteOrder('<%= order._id %>')">Delete</button>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            <% } %>
        </div>
    </section>
    <footer>
        <!-- Ensure the 'partials/footer' include path is correct 
        <%- include('partials/footer') -%>
    </footer>

    <script>
        function updateOrder(orderId) {
            alert("Update order with ID: " + orderId);
        }

        function deleteOrder(orderId) {
            alert("Delete order with ID: " + orderId);
        }
    </script>
</body>
</html>
-->